# ==============================================================================
# CONFIGURAÇÕES DE REDE E SERVIÇOS IOT
# ==============================================================================
PORT=5001
API_USER=admin
API_PASS=admin123

# ------------------------------------------------------------------------------
# PERFIL 1: AMBIENTE FORA DE CASA (MacBook como Host: 10.11.30.190)
# ------------------------------------------------------------------------------
# Roteador / Gateway: 10.11.30.141 | Máscara: 255.255.255.0
MQTT_BROKER_URL=mqtt://localhost:1883
REDIS_URL=redis://localhost:6379
VITE_API_URL=http://10.11.30.190:5001/api

# ------------------------------------------------------------------------------
# PERFIL 2: AMBIENTE RESIDENCIAL (Rede de Casa: 192.168.31.220)
# ------------------------------------------------------------------------------
# MQTT_BROKER_URL=mqtt://192.168.31.220:1883
# REDIS_URL=redis://192.168.31.220:6379
# VITE_API_URL=http://192.168.31.220:5001/api
